@use 'variaveis';


.hero{
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(/src/images/hero_desktop.jpeg);
    text-align: left;
    background-size: cover;
    margin-top: 8px;
    background-position: right;
    

    &__content{
        max-width:640px;
        

        &__branding{
            max-width: 320px;
            margin:0px auto 18px;
            margin-left: 20px;
            margin-top: -20px;
        }

        .title--small{
            margin-bottom: 64px;
        }
        p{
            margin-bottom: 20px;
        }

        &__combos{
            display: flex;
            width: 400px;
            justify-content: space-between;
            &__combo{
                width: calc(50% - 12px);

                img{
                    max-height: 80px;
                }
               
            }
        }
    };
}