@use 'hero';
@use "variaveis";
@use 'shows';
@use 'plans';
@use 'assista';
@use 'devices';
@use 'faq';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body{
    background-color: variaveis.$corFundo;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}
@mixin span($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}
@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}
.preco{
    color: variaveis.$corTextoSecundario;
    padding: 20px;
    display: block;
    
}
.text1{
    color: variaveis.$corTextoSecundario;
    padding: 10px;
    text-align: center;
    display: block;
}
.text11{
    color: variaveis.$corTextoSecundario;
    padding: 10px;
    display: block;
}

.title--big{
    @include title(40px);
}
.title{
    @include title;
}
.title--small{
    @include title(28px)
}

.text--big{
    @include text(18px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.link--text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
    margin-left: 120px;
    padding: 10px;

}

.button{
    
        display: block;
        width: 80%;
        height: 60px;
        margin-left: 25px;
        font-size: 18px;
        color:variaveis.$corTextoSecundario ; 
        background-color: #6421ff;
        text-transform: uppercase;
        border-radius: 6px;
        margin-top: 2vw;
        margin-bottom: 8px;               
}

.N-texto{
    position: absolute;
}